<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="db" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RatingDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>